﻿<!DOCTYPE html>
<html lang="en">
<head>
	<title>TwittParser</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="" href="/Content/custom-styles.css">
	<script src="/Scripts/jquery-2.2.4.js" type="text/javascript"></script>
	<script src="/Scripts/angular.js" type="text/javascript"></script>
	<script src="/Scripts/application/app.js?time_stamp=1224147832156" type="text/javascript"></script>
	<script src="/Scripts/application/mainController.js?time_stamp=1224147832156" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="mainController as vm" class="instaFade">
	<header class="instaFade quickFade delayOne">
		<nav id="navigation" role="navigation" class="navbar transparent">
			<div class="container-fluid with-marging">
				<div class="navbar-header">
					<span class="navbar-brand large with-theme" href="#">TwittParser<span class="with-theme-orange">.</span></span>
				</div>
				<div class="nav navbar navbar-right">
					<span class="navbar-brand large with-theme" href="#"><span class="with-theme-orange">by&#32;</span>Zinomast</span>
				</div>
			</div>
		</nav>
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="jumbotron trans with-theme with-text-centered">
						<h1 id="homeHeading">Get twitter content you <span class="with-theme-orange">like</span>!</h1>
						<hr class="fancy">
						<p>Paste twitter status link and get your content.</p>
					</div>
				</div>
			</div>
		</section>
	</header>
	<section id="parser" class="quickFade delayFive">
		<div class="container">
			<div class="row">
				<div class="panel panel-default paddingless semi-trans col-lg-8 col-md-offset-2">
					<div class="panel-body">
						<input type="text" class="form-control with-theme" placeholder="Status here" ng-enter="vm.postInput()" ng-model="vm.inputStr" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="alerts">
		<div class="container with-marging-bottom">
			<div class="row">
				<div id="parsing-error" class="alert alert-custom-warning alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.ParseError" role="alert">
					<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Wow!</strong> {{vm.err.parse_error}}
				</div>
				<div id="server-error" class="alert alert-custom-danger alert-dismissible col-lg-8 col-md-offset-2" ng-show="vm.is.ServerError" role="alert">
					<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Oops!</strong> {{vm.err.server_error}}
				</div>
			</div>
		</div>
	</section>
	<section id="content-result">
		<div class="container">
			<div class="row" ng-show="vm.is.DataAvailable">
				<div class="col-xs-6 col-md-3" ng-repeat="img in vm.output.imgs">
					<a href="#" title="Image {{img.id}}" class="thumbnail with-theme">
						<img alt="" ng-src="{{img.src}}">
					</a>
				</div>
			</div>
			<hr class="fancy">
		</div>
	</section>
	<script>
		$('.alert .close').on('click', function (e) {
			$(this).parent().hide();
		});
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
