﻿html,
body {
	background: url(header.jpg) no-repeat center center fixed;
	font-family: Ubuntu, sans-serif;
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.instaFade {
	/* ReSharper disable once InvalidValue */
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in;
	/* ReSharper disable once InvalidValue */
	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: ease-in;
	/* ReSharper disable once InvalidValue */
	animation-name: reset, fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
}

.quickFade {
	/* ReSharper disable once InvalidValue */
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
	/* ReSharper disable once InvalidValue */
	-moz-animation-name: reset, fade-in;
	-moz-animation-duration: 2.5s;
	-moz-animation-timing-function: ease-in;
	/* ReSharper disable once InvalidValue */
	animation-name: reset, fade-in;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}

.trans {
	background-color: transparent;
}

.semi-trans {
	background-color: #f8f8ff;
	background-color: rgba(248, 248, 255, 0.1);
	border-color: transparent;
}

.with-line {
	border-bottom: 3px solid greenyellow;
}

.large {
	font-size: 24px;
}

.with-theme {
	color: ghostwhite;
}

.with-theme-orange {
	color: darkorange;
}

.with-text-centered {
	text-align: center;
}

hr.fancy {
	width: 40px;
	border-top: 3px solid darkorange;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.with-inline {
	display: inline;
}

.panel.paddingless {
	padding-right: 0;
	padding-left: 0;
}

.container-fluid.with-marging {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.container.with-marging {
	margin-top: 20px;
	margin-bottom: 20px;
}

.container.with-marging-bottom {
	margin-bottom: 40px;
}

.alert.alert-custom-warning {
	color: darkorange;
	border: 2px solid darkorange;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.alert.alert-custom-danger {
	color: IndianRed;
	border: 2px solid IndianRed;
	font-size: 16px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.alert.alert-custom-danger:hover {
	color: ghostwhite;
	border: 2px solid ghostwhite;
	font-size: 16px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-moz-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-moz-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-ms-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-ms-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	box-shadow: 0px 0px 2px 1px #f8f8ff;
	box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
}

.alert.alert-custom-warning:hover {
	color: ghostwhite;
	border: 2px solid ghostwhite;
	font-size: 16px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-moz-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-moz-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-ms-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-ms-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	box-shadow: 0px 0px 2px 1px #f8f8ff;
	box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
}

.input-group.with-theme {
	background-color: ghostwhite;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.input-group-addon.with-theme {
	background-color: ghostwhite;
}

input.form-control.with-theme {
	background-color: transparent;
	border: 2px solid lightblue;
	color: lightblue;
}

input.form-control.with-theme:hover {
	border: 2px solid ghostwhite;
	color: ghostwhite;
	-webkit-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-moz-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-moz-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-ms-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-ms-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	box-shadow: 0px 0px 2px 1px #f8f8ff;
	box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
}

input.form-control::-webkit-input-placeholder {
	color: lightblue;
}

input.form-control::-moz-placeholder {
	color: lightblue;
}
/* Firefox 19+ */
input.form-control:-moz-placeholder {
	color: lightblue;
}
/* Firefox 18- */
input.form-control:-ms-input-placeholder {
	color: lightblue;
}

input.form-control:hover::-webkit-input-placeholder {
	color: ghostwhite;
}

input.form-control:hover::-moz-placeholder {
	color: ghostwhite;
}
/* Firefox 19+ */

input.form-control:hover:-moz-placeholder {
	color: ghostwhite;
}
/* Firefox 18- */
input.form-control:hover:-ms-input-placeholder {
	color: ghostwhite;
}

.thumbnail.with-theme {
	background-color: transparent;
	border: 2px solid springgreen;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.thumbnail.with-theme:hover {
	border: 2px solid ghostwhite;
	-webkit-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-moz-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-moz-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	-ms-box-shadow: 0px 0px 2px 1px #f8f8ff;
	-ms-box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
	box-shadow: 0px 0px 2px 1px #f8f8ff;
	box-shadow: 0px 0px 2px 1px rgba(248, 248, 255, 0.75);
}
